form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(223, 248, 212);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form p {
    text-align: left;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

form textarea {
    resize: vertical;
}

input[type="text"]:focus,
input[type="tel"]:focus,
input[type="email"]:focus,
textarea:focus {
    border: 3px solid rgb(45, 139, 3);
    outline: none;
  }

input[type="submit"],
input[type="reset"],
input[type="checkbox"] {
    background-color: rgb(45, 139, 3);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="checkbox"]:hover {
    background-color: rgb(194, 242, 172);
    font-weight: bold;
    border: 2px solid;
    color: #000000;
    border-color: rgb(45, 139, 3);
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}